@model string
@{
    ViewData["Title"] = "Payment Response";
}

<div class="container card justify-content-center" style="margin-top: 20px; margin-bottom: 20px; max-width: 500px;">
    <div class="ps-5 pe-5 text-center" style="margin-top: 20px; margin-bottom: 20px;">
        <h4 class="text-warning">@Model</h4>
    </div>
</div>