@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container card justify-content-center" style="margin-top: 20px; margin-bottom: 20px; max-width: 500px;">
    <div class="ps-5 pe-5 justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
        <h4>Account confirmed</h4>
    </div>
</div>